<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button text="Atrás" color="tertiary"></ion-back-button>
      </ion-buttons>
      <ion-title>
          <ion-text color="light">
              Establecimientos
          </ion-text>
      </ion-title>
    </ion-toolbar>
    <ion-toolbar color="dark">
        <ion-searchbar placeholder="Buscar" (ionInput)="obtenerEstablecimiento($event)" (ionCancel)="onCancel($event)"></ion-searchbar>
      </ion-toolbar>
  </ion-header>
  
  <ion-content>

      <ion-grid class="ion-no-padding" fixed> 
          <div class="ion-no-margin" [@staggerIn]="items">


            <ion-item class="ion-no-padding ion-no-margin" tappable *ngFor="let establecimiento of items" (click)="AgendarCita(establecimiento)">
              <ion-card class="bg-white" >
            
                <span class="card-img-status fw500 text-white closed">
                  {{ establecimiento.nombreCategoria }}
                </span>
          
                <img [src]="establecimiento.imagen" (load)="loaded = true" [ngClass]="{'img-loaded':loaded}" [hidden]="!loaded" />
                <ion-spinner [ngClass]="{'center':true}" *ngIf="!loaded"></ion-spinner>
          
                <ion-card-content>                          
                    <ion-card-title>     
                      <ion-text color="primary"><h5>{{establecimiento.nombre}}</h5></ion-text>      
                      <ion-text color="dark"><h6>{{establecimiento.barrio}}, {{establecimiento.direccion}}</h6></ion-text>
                      <ion-text color="secondary">
                        <h6>{{establecimiento.descripcion}} </h6>
                      </ion-text>
                    </ion-card-title>
                </ion-card-content>
              </ion-card>
            </ion-item>


            <!-- <ion-item lines="none" class="bg-white" tappable *ngFor="let establecimiento of items" (click)="AgendarCita(establecimiento)">


              <ion-thumbnail class="ion-margin" slot="start" *ngIf="establecimiento.imagen != ''">
                <img [src]="establecimiento.imagen">
              </ion-thumbnail>
              <ion-thumbnail class="ion-margin" slot="start" *ngIf="establecimiento.imagen == ''">
                  <img src="../../../assets/img/avatar-est.png">
              </ion-thumbnail>

              <ion-label class="ion-text-wrap" style="text-align: justify">
                  <h2>
                      <ion-text color="dark"><strong>{{ establecimiento.nombre }}</strong></ion-text>
                  </h2>
                  <p class="text-12x">
                    <ion-text color="primary">{{establecimiento.direccion}}</ion-text>
                  </p>
 
                </ion-label>
            </ion-item> -->

          </div>
      
        </ion-grid>
    </ion-content>
  
