<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="Atrás" color="tertiary"></ion-back-button>
    </ion-buttons>
    <ion-title>
        <ion-text color="light">
            Servicios
        </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-list class="ion-no-padding" [@staggerIn]="listServicios" *ngIf="listServicios.length > 0">
    <ion-item-sliding *ngFor="let servicio of listServicios" #slidingList>
      <ion-item class="bg-white" lines="none" tappable>
        <ion-icon slot="start" name="list-box" color="primary"></ion-icon>
        <ion-label>
          <h2>
            <ion-text color="dark"><strong>{{servicio.nombre}}</strong></ion-text>
          </h2>
          <p class="text-12x">
            <ion-text color="secondary">{{servicio.descripcion}}</ion-text>
          </p>
          <ion-badge color="success">{{servicio.tiempoAtencion}} min</ion-badge>
        </ion-label>
        <ion-badge slot="end">{{servicio.precio | currency}}</ion-badge>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="danger" (click)="eliminarServicio(servicio)">
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
 


  <ion-list class="ion-no-padding" *ngIf="listServicios.length == 0">
    <ion-item>
      <ion-label>No existen servicios registrados</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="danger" (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

