<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="tertiary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
        Mis Establecimientos
      </ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" (click)="settings()">
        <ion-icon name="cog"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="dark">
      <ion-searchbar placeholder="Buscar" (ionInput)="obtenerEstablecimiento($event)" (ionCancel)="onCancel($event)"></ion-searchbar>
      <ion-buttons slot="end">
        <ion-button size="small" shape="round" color="medium" (click)="searchFilter()">
          <ion-icon name="options"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list class="ion-no-padding ion-no-margin" [@staggerIn]="items">
    <ion-item-sliding *ngFor="let establecimientos of items" #slidingList>
      <ion-item class="ion-no-padding ion-no-margin" tappable>
        <ion-card class="bg-white" >
      
          <span class="card-img-status fw500 text-white closed">
            {{ establecimientos.nombreCategoria }}
          </span>
    
          <img [src]="establecimientos.imagen" (load)="loaded = true" [ngClass]="{'img-loaded':loaded}" [hidden]="!loaded" />
          <ion-spinner [ngClass]="{'center':true}" *ngIf="!loaded"></ion-spinner>
    
          <ion-card-header>
    
             <ion-fab vertical="top" horizontal="start" edge>
                <ion-fab-button>
                  <ion-icon name="add"></ion-icon>
                </ion-fab-button>
                <ion-fab-list side="top">
                  <ion-label style="font-size: 9px; background-color: #41b09f; color: white">Colaborador</ion-label>
                  <ion-fab-button (click)="registrarEmpleados(establecimientos)"><ion-icon name="person-add"></ion-icon></ion-fab-button>
                  <ion-label style="font-size: 9px; background-color: #41b09f; color: white">Servicio</ion-label>
                  <ion-fab-button (click)="registrarServicio(establecimientos)"><ion-icon name="create"></ion-icon></ion-fab-button>
                  <!-- <ion-label style="font-size: 9px; background-color: #41b09f; color: white">Ajuste</ion-label>
                  <ion-fab-button><ion-icon name="hammer"></ion-icon></ion-fab-button> -->
                  <ion-label style="font-size: 9px; background-color: #41b09f; color: white">Citas</ion-label>
                  <ion-fab-button (click)="consultarCitas(establecimientos)"><ion-icon name="hammer"></ion-icon></ion-fab-button>
                </ion-fab-list>
              </ion-fab>
              <br>
              <ion-card-subtitle>       
                <ion-text color="primary">{{establecimientos.nombre}}</ion-text>
              </ion-card-subtitle>
             
              <ion-card-title class="ion-margin-bottom">           
                <ion-text color="dark">{{establecimientos.barrio}}, {{establecimientos.direccion}}</ion-text>
              </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-item>

      <ion-item-options>
        <ion-item-option color="danger" (click)="eliminarEstablecimiento(establecimientos)">
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>


  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="secondary" (click)="registrarEstablecimiento()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

