<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
        Mis Establecimientos
      </ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" (click)="settings()">
        <ion-icon name="cog"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="dark">
      <ion-searchbar (ionInput)="obtenerEstablecimiento($event)" (ionCancel)="onCancel($event)"></ion-searchbar>
      <ion-buttons slot="end">
        <ion-button size="small" shape="round" color="medium" (click)="searchFilter()">
          <ion-icon name="options"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-no-margin" [@staggerIn]="items">
    <ion-card class="bg-white" *ngFor="let establecimientos of items">
      
      <!-- <span class="card-img-status fw500 text-white" [ngClass]="{'closed': property.label === 'rent', 'open': property.label === 'sale'}">
        {{ property.label }}
      </span> -->
      <span class="card-img-status fw500 text-white closed">
        {{ establecimientos.nombreCategoria }}
      </span>

      <!-- <ion-badge slot="start" color="secondary" class="float">
        <ion-icon name="star" color="light"></ion-icon>
        <ion-text color="light">{{ property.price }}</ion-text>
        <sup class="fw500" *ngIf="property.period === 'week'">/week</sup>
        <sup *ngIf="property.period === 'month'">/month</sup>
      </ion-badge> -->

      <img src="assets/img/avatar.jpeg" (load)="loaded = true" [ngClass]="{'img-loaded':loaded}" [hidden]="!loaded" />
      <ion-spinner [ngClass]="{'center':true}" *ngIf="!loaded"></ion-spinner>

      <ion-card-header>

          <ion-fab vertical="top" horizontal="end" edge>
            <ion-fab-button (click)="favorite(establecimientos)">
              <ion-icon name="heart"></ion-icon>
            </ion-fab-button>
          </ion-fab>

          <ion-card-subtitle>       
            <ion-text color="primary">{{establecimientos.nombre}}</ion-text>
          </ion-card-subtitle>
         
          <ion-card-title class="ion-margin-bottom">           
            <ion-text color="dark">{{establecimientos.barrio}}, {{establecimientos.direccion}}</ion-text>
          </ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>

  <!-- <div class="ion-no-margin" *ngIf="viewMode === 'map'"> -->
  <!-- # -->
  <!-- <div id="nearby-map" class="nearby-map">
      <agm-map [latitude]="properties[0].lat" [longitude]="properties[0].long" [zoom]="12">
        <agm-marker *ngFor="let property of properties | termSearch:proptype:'tags'"
         [latitude]="property.lat" [longitude]="property.long">
          <agm-info-window>
            <ion-item tappable routerLink="/property-detail/{{property.id}}">
              <ion-thumbnail slot="start">
                <img [src]="property.thumbnail">
              </ion-thumbnail>
              <ion-label>
                <h3>
                  <strong>{{property.title}}</strong>
                </h3>
                <p class="ion-no-margin">
                  <ion-text color="primary">{{property.city}}, {{property.state}} •
                    <span class="fw700">{{ property.price }}</span>
                  </ion-text>
                </p>
              </ion-label>
            </ion-item>
          </agm-info-window>
        </agm-marker>
      </agm-map>
    </div> -->
    <!-- # -->
  <!-- </div> -->

</ion-content>

<!-- <ion-footer class="bg-dark">
    <ion-segment color="light" [(ngModel)]="viewMode">
        <ion-segment-button value="list">
            <ion-icon name="list"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="map">
            <ion-icon name="map"></ion-icon>
        </ion-segment-button>
    </ion-segment>
</ion-footer> -->