<ion-header>
  <ion-toolbar color="primary" class="animated fadeIn">
      <ion-buttons slot="start">
        <ion-menu-button color="tertiary"></ion-menu-button>
      </ion-buttons>
    <ion-title>
      <ion-text color="light">
        Agendar Cita - {{nombreEstablecimiento}}
      </ion-text>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="progress-holder">
    <ion-row class="status ion-text-center">
      <ion-col class="processing" *ngFor="let bullet of numberss; let i = index"
        [ngClass]="{'processing-active': activeIndex >= i}">
        <ion-icon name="ios-checkmark-circle"></ion-icon>
        <span>{{steps[bullet]}}</span>
      </ion-col>
    </ion-row>
  </div>

  <div>
    <ion-slides #theslides pager="false" scrollbar="false" (ionSlideDidChange)="onSlideChange()" (ionSlideNextStart)="onSlideNextStart()">
      <ion-slide>
        <div>
          <ion-grid fixed>
            <ion-row>
              <div class="title" padding-horizontal>

              </div>
              <h5 style="margin-top: 0 !important;">Selecciona una fecha</h5>
              <ion-col size="12">
                <div class="calender-holder">
                  <ion-calendar [(ngModel)]="fechaActual" [type]="type" [format]="'YYYY-MM-DD'" (change)="SeleccionarFecha($event)"> </ion-calendar>
                  <!-- <ion-calendar [(ngModel)]="fechaActual" 
                                (onChange)="SeleccionarFecha($event)">
                  </ion-calendar> -->
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="sections-holder">
          <ion-radio-group>
            <div class="section" *ngFor="let service of listaServicios">
              <ion-item lines="none">
                <ion-label>
                  <h1>{{service.nombre}}&nbsp;&nbsp;</h1>
                  <h5>${{service.precio}} <span>{{service.tiempoAtencion}} min</span> </h5>
                  <p>{{service.descripcion}}</p>
                </ion-label>
                <ion-radio slot="end" mode="ios" [value]="service.idServicio"
                  (ionSelect)="obtenerEmpleado(service)"></ion-radio>
              </ion-item>
            </div>
          </ion-radio-group>
        </div>
      </ion-slide>
      <ion-slide class="bbr-slide">
        <ion-radio-group name="auto">
          <ion-row>
            <ion-col size="6" *ngFor="let empleado of listaEmpleados">
              <ion-item lines="none" (click)="ModalColaborador(empleado)">
                <ion-avatar slot="start" *ngIf="empleado.imagen != ''">
                  <img [src]="empleado.imagen">
                </ion-avatar>
                <ion-avatar slot="start" *ngIf="empleado.imagen == ''">
                  <img src="../../../assets/img/user.png">
                </ion-avatar>
                <ion-label class="ion-text-wrap">{{empleado.nombre}}</ion-label>
                <ion-radio [value]="empleado.idEmpleado"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-radio-group>
      </ion-slide>
      <ion-slide>
        <ion-grid fixed>
          <ion-row>
            <div class="title" padding-horizontal>
            </div>
            <h5>Selecciona la hora de tu cita!</h5>
            <ion-col size="12">
              <div class="button-selector2">
                <ion-radio-group name="time-slots">
                  <ion-row>
                    <ion-col size="4" class="ion-text-center" *ngFor="let lista of listaHorasDispAux">
                      <ion-item lines="none" class="ion-text-center" (click)="obtenerHora(lista)">
                        <ion-label>{{lista.hora | date:'shortTime'}}</ion-label>
                        <ion-radio [value]="lista.hora"></ion-radio>
                      </ion-item>
                    </ion-col>                 
                  </ion-row>
                </ion-radio-group>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
    </ion-slides>
  </div>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="total-holder">
      <ion-row>
        <ion-col size="5" padding-horizontal>
          <ion-button expand="block" shape="round"  (click)="checkIsend()">
              {{buttonText}}
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ion-toolbar>
</ion-footer>