<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="tertiary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <ion-text color="light">
          {{tituloPagina}}
        </ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="notifications()">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge color="dark" slot="end">2</ion-badge>
      </ion-button>
      <ion-button size="small" shape="round" color="medium" tappable routerLink="/settings" routerDirection="forward">
        <ion-icon slot="icon-only" name="cog"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="dark">
      <ion-searchbar (ionInput)="obtenerCiudad($event)" (ionCancel)="onCancel($event)"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<!-- <ion-header translucent>
  <ion-toolbar>
    <ion-title>{{tituloPagina}} </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (ionInput)="obtenerCiudad($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header> -->
<ion-content>

  <ion-grid class="ion-no-padding" fixed> 
      <div class="ion-no-margin" [@staggerIn]="items">
        <!-- # -->
        <ion-item lines="none" class="bg-white" tappable *ngFor="let ciudades of items" (click)="ciudadSeleccionada(ciudades)">
          <ion-label>
              <h2>
                  <ion-text color="dark"><strong>{{ciudades.nombre}}</strong></ion-text>
              </h2>
            </ion-label>
        </ion-item>
        <!-- # -->
      </div>
  
    </ion-grid>
</ion-content>

<!-- <ion-content fullscreen>
  <ion-list>
    <ion-item button *ngFor="let ciudades of items" (click)="ciudadSeleccionada(ciudades)">
      {{ciudades.nombre}}
    </ion-item>
  </ion-list>
</ion-content> -->
