<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="Atrás" color="tertiary"></ion-back-button>
    </ion-buttons>
    <ion-title>
        <ion-text color="light">
            Empleados
        </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-list class="ion-no-padding ion-no-margin" [@staggerIn]="listaEmpleados" *ngIf="listaEmpleados.length > 0">
    <ion-item-sliding *ngFor="let empleado of listaEmpleados"  #slidingList>
      <ion-item class="ion-no-padding" lines="none" tappable>
        <ion-thumbnail class="ion-margin" slot="start" *ngIf="empleado.imagen != ''">
          <img [src]="empleado.imagen">
        </ion-thumbnail>
        <ion-thumbnail class="ion-margin" slot="start" *ngIf="empleado.imagen == ''">
            <img src="../../../assets/img/user.png">
        </ion-thumbnail>
        <ion-label>
          <h2 class="fw700 text08">
            <ion-text color="dark">{{empleado.nombres}} {{empleado.apellidos}} </ion-text>
          </h2>
        </ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="danger" (click)="eliminarEmpleado(empleado)">
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list class="ion-no-padding" *ngIf="listaEmpleados.length == 0">
    <ion-item>
      <ion-label>No existen empleados registrados</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="danger" (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>