<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="Atrás" color="tertiary"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
          Gestionar Servicios
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile">
  <ion-card class="ion-no-margin">

    <form [formGroup]="formularioRegistro" (ngSubmit)="RegistrarServicio()">

      <ion-grid fixed class="ion-no-padding">
        <ion-row>
          <ion-col size="12" class="ion-padding">

            <ion-list class="ion-margin-bottom">
              <ion-list-header color="light">
                <ion-label class="fw700">Datos del Servicio</ion-label>
              </ion-list-header>

              <ion-item>
                <ion-label color="dark" position="stacked">Nombre:</ion-label>
                <ion-input inputmode="text" placeholder="Ejm: Corte para dama" formControlName="nombre"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label color="dark" position="stacked">descripción:</ion-label>
                <ion-input inputmode="text" placeholder="Ejm: Corte con diferentes estilos" formControlName="descripcion"></ion-input>
              </ion-item>

              <!-- <ion-item>
                  <ion-range min="2000" max="500000" step="1000" formControlName="precio" pin color="secondary">
                    <ion-icon slot="start" size="small" name="contrast"></ion-icon>
                    <ion-icon slot="end" name="contrast"></ion-icon>
                  </ion-range>
                </ion-item> -->
              <ion-item>
                  <ion-label position="stacked">Precio <ion-text color="dark">*</ion-text></ion-label>
                  <ion-input required type="number" formControlName="precio"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="dark">Tiempo atención:</ion-label>
                <ion-select formControlName="tiempo">
                  <ion-select-option *ngFor="let lstTiempo of listaTiempo" [value]="lstTiempo.valor">
                    {{lstTiempo.tiempo}}</ion-select-option>
                </ion-select>
              </ion-item>           

            </ion-list>

          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-button size="large" expand="full" color="dark" class="ion-no-margin" type="submit">Registrar Servicio
      </ion-button>

    </form>

  </ion-card>

</ion-content>