:host {
    ion-content {
      --background: linear-gradient(-135deg, var(--ion-color-medium), var(--ion-color-light))
    }
  }
  
  .profile-image-wrapper {
    text-align: center;
    .profile-image {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border: 5px solid #fff;
      background-color: white;
    }
    .profile-image-placeholder {
      display: inline-block;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image:  url("../../../assets/img/photo.png");
      width: 150px;
      height: 150px;
      border-radius: 50%;
      font-size: 12px;
      border: 5px solid #fff;
      background-color: white;
      ion-icon {
        font-size: 44px;
        margin-bottom: -10px;
        margin-top: 22px;
      }
    }
  }
  
  .profile {
    ion-card {
      width: 100%;
      border-radius: 0;
      background-color: #fff;
      ion-card-content {
        padding: 12px;
        height: 200px !important;
        background-color: var(--ion-color-primary);
        color: #fff;
        text-align: center;
        // padding-bottom: 28px;
  
        ion-icon {
          &.big {
            width: 50px;
            height: 50px;
          }
        
          &.bigger {
            margin-top: 7px;
            width: 100px;
            height: 100px;
          }
        }
  
        h1 {
          // font-size: 2.5rem;
          margin-top: .5rem;
          // color: #fff;
        }
  
      //   h3 {
      //     font-size: 1.8rem;
      //     color: #fff;
      //   }
  
      }
    }
  
    ion-item {
      ion-input {
        border-bottom: 1px solid var(--ion-color-tertiary);
      }
    }
  
    ion-buttom {
      button {
        margin: 0;
      }
    }
  }
  