<ion-content class="ion-padding animated fadeIn login auth-page">

  <div class="auth-content">
    <!-- Logo -->
    <div class="ion-padding-horizontal ion-text-center animated fadeInDown">
      <div class="logo"></div>
      <h3 ion-no-margin>
        <ion-text color="light" class="fw700">
          <ion-text color="secondary">{{ 'app.pages.register.title.header' | translate }}</ion-text>
        </ion-text>
      </h3>
    </div>

    <!-- Register form -->
    <form [formGroup]="onRegisterForm" class="list-form">

      <ion-item class="ion-no-padding animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="person" item-start></ion-icon>
          {{ 'app.label.nombre' | translate }}
        </ion-label>
        <ion-input color="secondary" type="text" formControlName="nombre"></ion-input>
      </ion-item>
      <p class="text08" *ngIf="onRegisterForm.get('nombre').touched && onRegisterForm.get('nombre').hasError('required')">
        <ion-text color="warning">
          {{ 'app.label.errors.field' | translate }}
        </ion-text>
      </p>

      <ion-item class="ion-no-padding animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="person" item-start></ion-icon>
          {{ 'app.label.apellido' | translate }}
        </ion-label>
        <ion-input color="secondary" type="text" formControlName="apellido"></ion-input>
      </ion-item>
      <p class="text08" *ngIf="onRegisterForm.get('apellido').touched && onRegisterForm.get('apellido').hasError('required')">
        <ion-text color="warning">
          {{ 'app.label.errors.field' | translate }}
        </ion-text>
      </p>

      <ion-item class="ion-no-padding animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="mail" item-start></ion-icon>
          {{ 'app.label.email' | translate }}
        </ion-label>
        <ion-input color="secondary" type="email" formControlName="email"></ion-input>
      </ion-item>
      <p class="text08" *ngIf="onRegisterForm.get('email').touched && onRegisterForm.get('email').hasError('required')">
        <ion-text color="warning">
          {{ 'app.label.errors.field' | translate }}
        </ion-text>
      </p>

      <ion-item class="ion-no-padding animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="call" item-start></ion-icon>
          {{ 'app.label.telefono' | translate }}
        </ion-label>
        <ion-input color="secondary" type="telefono" formControlName="telefono"></ion-input>
      </ion-item>
      <p class="text08" *ngIf="onRegisterForm.get('telefono').touched && onRegisterForm.get('telefono').hasError('required')">
        <ion-text color="warning">
          {{ 'app.label.errors.field' | translate }}
        </ion-text>
      </p>

      <ion-item class="ion-no-padding animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="lock" item-start></ion-icon>
          {{ 'app.label.password' | translate }}
        </ion-label>
        <ion-input color="secondary" type="password" formControlName="contrasena"></ion-input>
      </ion-item>
      <p color="warning" class="text08" *ngIf="onRegisterForm.get('contrasena').touched && onRegisterForm.get('contrasena').hasError('required')">
        <ion-text color="warning">
          {{ 'app.label.errors.field' | translate }}
        </ion-text>
      </p>

      <ion-item class="ion-no-padding animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="lock" item-start></ion-icon>
          {{ 'app.label.repassword' | translate }}
        </ion-label>
        <ion-input color="secondary" type="password" formControlName="reContrasena"></ion-input>
      </ion-item>
      <p color="warning" class="text08" *ngIf="onRegisterForm.get('reContrasena').touched && onRegisterForm.get('reContrasena').hasError('required')">
        <ion-text color="warning">
          {{ 'app.label.errors.field' | translate }}
        </ion-text>
      </p>

      <ion-item>
        <ion-label class="label" color="primary"> {{ 'app.label.tipoUsuario' | translate }} </ion-label>
        <ion-toggle formControlName="tipoUsuario"></ion-toggle>
      </ion-item>

    </form>

    <div class="ion-margin-top">
      <ion-button icon-left size="medium" expand="full" shape="round" color="dark" (click)="signUp()" [disabled]="!onRegisterForm.valid"
        tappable>
        <ion-icon name="log-in"></ion-icon>
        {{ 'app.button.signup' | translate }}
      </ion-button>

      <!-- <p class="ion-text-center">
        <ion-text color="light">
          Or Sign Up with:
        </ion-text>
      </p>

      <ion-grid class="btn-group">
        <ion-row>
          <ion-col size="4">
            <ion-button shape="round" expand="full" fill="outline" color="tertiary">
              <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button shape="round" expand="full" fill="outline" color="tertiary">
              <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button shape="round" expand="full" fill="outline" color="tertiary">
              <ion-icon slot="icon-only" name="logo-googleplus"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid> -->

    </div>

    <!-- Other links -->
    <div class="ion-text-center ion-margin-top">
      <span (click)="goToLogin()" tappable>
        <ion-text color="light">
          <strong>{{ 'app.pages.register.label.ihave' | translate }}</strong>
        </ion-text>
      </span>
    </div>

  </div>
</ion-content>