<ion-header>
  <ion-toolbar color="primary" class="animated fadeIn">
    <ion-buttons slot="start">
      <ion-menu-button color="tertiary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
        Buscar Sitios
      </ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="editprofile()">
        <ion-icon slot="icon-only" name="contact"></ion-icon>
      </ion-button>
      <ion-button size="small" shape="round" color="medium" (click)="settings()">
        <ion-icon slot="icon-only" name="cog"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="12">
        <p style="text-align:center">Selecciona el tipo de servicio</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ul>
        <li class="loc-caption" *ngFor="let servicio of listaTipoServicios"
          [class.active]="servicio.idCategoriaEst == this.globalesService.idServicioSelccionado"
          [class.selected]="servicio === servicioSeleccionado"
          (click)="seleccionarServicio(servicio)">
          <ion-icon class="big" [src]="servicio.imagen"></ion-icon>
          <p>{{servicio.nombre}}</p>
        </li>
      </ul>
    </ion-row>
    <ion-row>
      <ion-item style="width: 100%;" tappable (click)="obtenerCiudad()">
        <ion-label *ngIf="!ciudadSeleccionada">En qué ciudad estás buscando</ion-label>
        <ion-label *ngIf="ciudadSeleccionada">{{ciudadSeleccionada.nombre}}</ion-label>
        <ion-icon name="arrow-forward-circle-outline"></ion-icon>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item style="width: 100%;" [disabled]="!ciudadSeleccionada" button (click)="obtenerBarrio()">
        <ion-label *ngIf="!barrioSeleccionado">En qué barrio estás buscando</ion-label>
        <ion-label *ngIf="barrioSeleccionado">{{barrioSeleccionado.nombre}}</ion-label>
        <ion-icon name="arrow-forward-circle-outline"></ion-icon>
      </ion-item>
    </ion-row>
    <br>
    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" color="secondary" (click)="BuscarSitios()" [disabled]="servicioSeleccionado == undefined || ciudadSeleccionada == undefined">
            <ion-icon slot="start" color="light" name="search"></ion-icon>
            <ion-text color="light">Buscar</ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col size="12">
        <ion-button expand="full" shape="round" fill="outline" (click)="Registrarse()">
          Registrate y registra tú negocio!
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>