<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Buscar Sitios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="12">
        <p style="text-align:center">Selecciona el tipo de servicio</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ul>
        <li class="loc-caption" *ngFor="let servicio of listaTipoServicios"
          [class.active]="servicio.idCategoriaEst == this.globalesService.idServicioSelccionado"
          [class.selected]="servicio === servicioSeleccionado"
          (click)="seleccionarServicio(servicio)">
          <ion-icon class="big" [src]="servicio.imagen"></ion-icon>
          <p>{{servicio.nombre}}</p>
        </li>
      </ul>
    </ion-row>
    <ion-row>
      <ion-item style="width: 100%;" button (click)="obtenerCiudad()">
        <ion-label *ngIf="!ciudadSeleccionada">En qué ciudad estás buscando</ion-label>
        <ion-label *ngIf="ciudadSeleccionada">{{ciudadSeleccionada.nombre}}</ion-label>
        <ion-icon name="arrow-forward-circle-outline"></ion-icon>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item style="width: 100%;" [disabled]="!ciudadSeleccionada" button (click)="obtenerBarrio()">
        <ion-label *ngIf="!barrioSeleccionado">En qué barrio estás buscando</ion-label>
        <ion-label *ngIf="barrioSeleccionado">{{barrioSeleccionado.nombre}}</ion-label>
        <ion-icon name="arrow-forward-circle-outline"></ion-icon>
      </ion-item>
    </ion-row>
    <br>
    <ion-row>
      <ion-col size="12">
        <ion-button  expand="full" [disabled]="!habilitarBusqueda" (click)="BuscarSitios()">
          <ion-icon name="search-outline"></ion-icon>
          Buscar
        </ion-button>
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col size="12">
        <ion-button expand="full" shape="round" fill="outline" (click)="Registrarse()">
          Registrate
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>